@font-face {
    font-family: "HarlowSolid";
    src: url("/fonts/Harlow Solid Regular/Harlow Solid Regular.ttf") format("truetype");
}

html{
    background-color: rgb(217, 255, 160);
}
.page{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
    image-rendering: pixelated;
    background-color: rgb(217, 255, 160);
}

.selectButtons{
    width: 30px;
    display: inline-block;
    vertical-align: top;
}

#trackThumbnail{
    width: 400px;
    display: block;
    margin: auto;
}

#trackName{
    display: inline-block;
    font-size: 20px;
    margin-top: 2px;
}

#trackRight{
    transform:          rotate(180deg);
    -ms-transform:      rotate(180deg);
    -moz-transform:     rotate(180deg);
    -webkit-transform:  rotate(180deg);
    -o-transform:       rotate(180deg);
}

td, th {
    /*border: 1px solid #dddddd;*/
    text-align: left;
    padding: 8px;
}

th {
    text-align: left;
    border-bottom: 2px solid black;
}

#title{
    width:40%;
    display: block;
    margin: auto;
    margin-top:10%;
}

#carBar{
    position: relative;
    height: 40%;
    margin-top: -5%;
}

.carPannel{
    position: relative;
    display:inline-block;
    vertical-align: middle;
    border: 1px solid black;
    width: 4%;
    padding-top: 4%;
    /*padding: -37.5px -37.5px;*/
    /*transform-origin: center;*/
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.carPannel:focus{
    width: 10%;
    padding-top: 10%;
    height: 20px;
}

#colorPicker::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    cursor: pointer;
}

#colorPicker::-moz-range-thumb {
    width: 23px;
    height: 25px;
    border: 0;
    cursor: pointer;
}

.carPannel img{
    position:absolute;
    vertical-align: middle;
    left:0px;
    top:15%;
    margin-left:0%;
    width: 100%;
    transform:          rotate(270deg);
    -ms-transform:      rotate(270deg);
    -moz-transform:     rotate(270deg);
    -webkit-transform:  rotate(270deg);
    -o-transform:       rotate(270deg);
}

#backButton{
    position: relative;
    display:none;
    margin:50px;
    z-index:10;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 50px;
    height: 50px;
}

input[type=text]{
    display: inline-block;
    margin: auto;
    border: none;
    border-bottom: 2px solid black;
    background-color: rgba(255, 255, 255, 0);
    width: 15%;
    padding: 5px;
    font-size: 1.25em;
    outline: none;
}

input[type=text]:focus {
    outline: none;
}

.smallButton{
    background-color: rgba(255, 255, 255, 0); 
    border: 2px solid #000000;
    color: black; 
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin-left: 50px;
    float: right;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.largeButton{
    background-color: rgba(255, 255, 255, 0); 
    border: 2px solid #f44336;
    color: black; 
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.largeButton:hover {
    background-color: #f44336;
    color: white;
}

.largeButton:active {
    background-color: #524e4e;
    color: white;
}

input[type=range]{
  outline:0;
  -webkit-appearance : none;
  width : 400px;
  height : 4px;
  display: block;
  margin: auto;
  background: linear-gradient(to right, hsl(0, 100%, 51%) 0%, hsl(30, 100%, 51%) 8.3%, hsl(60, 100%, 51%) 16.6%, hsl(90, 100%, 51%) 25%, hsl(120, 100%, 51%) 33.3%, hsl(150, 100%, 51%) 41.6%, hsl(180, 100%, 51%) 50%, hsl(210, 100%, 51%) 58.3%, hsl(240, 100%, 51%) 66.6%, hsl(270, 100%, 51%) 75%, hsl(300, 100%, 51%) 83.3%, hsl(330, 100%, 51%) 91.6%, hsl(360, 100%, 51%) 100%);
}

[contenteditable="true"]:focus, input[type=button]:focus, input[type=image]:focus{
    outline: none !important;
}